<div id="lists">
  <h2><%= @list.name %> </h2>
  <% @list.tasks.each do |task| %>
  <%= form_for(task) do |f| %>
      <%= f.label :name do %>
        <%= f.check_box :completed %>
        <%= task.name %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
  <div id="list_navigation">
     <%= link_to "previous", "/users/#{@list.user_id}/lists/#{@list.id - 1}", class: "list_nav_link" %>     <%= link_to "next", "/users/#{@list.user_id}/lists/#{@list.id + 1}", class: "list_nav_link" %>
  </div>
  <% if current_user.position > @list.user.position %>
    <%= link_to 'Delete', "/lists/#{@list.id}", method: :delete%>
  <% end %>
</div>

<!-- <% if current_user.position > @list.user.position %>
  <%= link_to 'Delete', "/lists/#{@list.id}", method: :delete%>
<% end %> -->

<!-- <div id="list_navigation">
   <%= link_to "previous", "/users/#{@list.user_id}/lists/#{@list.id - 1}", id: "list_nav_link" %>     <%= link_to "next", "/users/#{@list.user_id}/lists/#{@list.id + 1}", id: "list_nav_link" %>
</div> -->
