<div id="lists">
  <h2><%= @list.name %> </h2>
   <% @list.tasks.each do |task| %>
  <%= form_for(task) do |f| %>
      <%= f.label :name do %>
        <%= f.check_box :completed %>
        <%= task.name %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
   <% if current_user.position > @list.user.position %>
    <%= link_to 'Delete', "/lists/#{@list.id}", method: :delete%>
  <% end %>
  <%= form_for(@list) do |f| %>
    <form class="edit_list" id="new_task_submit" action="/lists/<%=@list.id%>" accept-charset="UTF-8" method="post">
      <input type="hidden" name="new_user_num" id="new_user_num" value="<%=@list.user_id%>">
      <input type="text" name="list[tasks_attributes][0][name]" id="list_tasks_attributes_0_name">
      <input type="submit" name="commit" value="Update List" data-disable-with="Update List"  class="new_task_submit">
    </form>
  <% end %>

  <div id="list_navigation">
    <%= link_to "previous", "/users/#{@list.user_id}/lists/#{@list.id - 1}", class: "list_nav_link" %>     <%= link_to "next", "/users/#{@list.user_id}/lists/#{@list.id + 1}", class: "list_nav_link" %>
  </div>
</div>

<script id="list-template" type="text/x-handlebars-template">
  <div id="lists">
    <h2>{{name}} </h2>
      {{#each tasks}}
      <form class="edit_task" id="edit_task_{{id}}" action="/tasks/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="3nrRL2Z2ZvyuPdKTpmID/Yg2CIVw5oIALoGTzi7DIZA34yXx2hjdfA+j7Zeq22Dow2/UJvfXmuOLWe+K5FPxPQ==">
        <label for="task_name">
          <input name="task[completed]" type="hidden" value="0"><input type="checkbox" value="1" {{#if completed}} checked="checked" {{/if}} name="task[completed]" id="task_completed">
          {{name}}
          <input type="submit" name="commit" value="Update Task" data-disable-with="Update Task">
        </label>
      </form>
      {{/each}}
      <form class="edit_list" id="new_task_submit" action="/lists/{{id}}" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="new_user_num" id="new_user_num" value="{{user_id}}">
        <input type="text" name="list[tasks_attributes][0][name]" id="list_tasks_attributes_0_name">
        <input type="submit" name="commit" value="Update List" data-disable-with="Update List"  class="new_task_submit">
      </form>
      <div id="list_navigation">
       <a class="list_nav_link" href="/users/{{user_id}}/lists/{{previous}}">previous</a>     <a class="list_nav_link" href="/users/{{user_id}}/lists/{{next}}">next</a>
      </div>
  </div>
</script>
