<h1>Welcome! <%= @user.name %> </h1>

<ul>
  <li>Position: <%= @user.position %></li>
  <li>Team <%= @user.team.name %></li>
  <li><%= link_to "Lists", user_lists_path(@user), id: "lists_link" %> </li>
    <div id="listed_lists">
      <ol>
      </ol>
    </div>

</ul>

<p>  <%= link_to "Create New List", new_user_list_path(@user) %></p>


<script id="lists-template" type="text/x-handlebars-template">
  <div id="listed_lists">
    <ol>
      {{#each lists}}
      <li>
        <a href="/users/{{user_id}}/lists/{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ol>
      <button id="alpha" href="/users/{{user_id}}/lists" type="submit">Alphabatize</button>
</script>
